*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,40,0.7)),url(images/bg.jpg) ;
  background-position: center;
  background-size: cover;
  position: relative   ;
}
section {
  border-bottom: 1px solid black;
  margin-bottom: 50px; /* Adjust as needed */
  
}

section:last-child {
  border-bottom: none; /* Remove border from the last section */
}
body {
  text-align: center;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display:inline-block ;
  padding: 8px 12px;
  position: relative;
   
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width:  0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position:absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
  
  
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background:#f44336;
  transition: 1s;
}

nav .fa{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
    text-align: center;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  
  }
  .text-box p{
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    text-justify: inter-word;
  }
  nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

.services{
  
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 60px ;
}
.services h1{
  font-size: 36px;
  font-weight:600 ;
  text-align: center;
  padding-bottom: 10px;
}
.paragraph p{
  text-align: justify;
  font-size: 15px;
  display: block;
  box-sizing: border-box;
  width: auto;
  margin: auto;
  max-width: 1020px;


}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.services-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s ;
}

.services-col h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.services-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);
}
.services-col p{
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  font-size: 13px;
  text-decoration: none;
  max-width: 400px;
  padding-bottom: 5px;
}
.center-line {
  border-top: 1px solid black; /* adjust thickness and color as needed */
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
  .services-col p{
    text-align: justify;
    max-width: 100%;
  }
  .paragraph p{
    text-align: justify;
  }
}

.about{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30/px;

}
.about p{
  max-width: 900px;
  text-align: justify;
  

}
.about-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;


}
.layer h{
  text-align: center;
}
.about-col img{
  height: 300px;
  width: 300px;
}
.column p{
  font-size: 15px;
  max-width: 700px;
  text-align: justify;
  padding-top: 20px;
  
}
hr{
  border-color: black;
  align-items: center;
  max-width: 900px; 
}
@media only screen and (max-width: 767px) {
  .about {
  padding-left: 12px;
  }
  
  .row {
  flex-direction: column;
  align-items: center;
  }
  
  .about-col {
  margin-bottom: 30px;
  }
  
  
  .column {
  text-align: center;
  }
  .column p{
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
  }
  
  h1 {
  font-size: 32px;
  margin-bottom: 20px;
  }
  
  p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  }
  
  img {
  max-width: 100%;
  height: auto;
  }
  }

  .about-col p {
    padding-top: 0;
    padding: 20px;
    text-align: justify; 
    text-justify: inter-word;
    line-height: 1.5;
    

  }
  .work{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

  }
  .work p{
    text-align: justify;
  }
  .work-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .work-col img{
    padding-top: 10px;
    width: 100%;
    height: 250px;
    display: block;
  }
  .work-col p{
    text-align: justify;
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover{
    background: rgba(226, 0,0, 0.7);

  }
  .layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;  
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }
  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  }

@media only screen and (max-width: 767px) {
    
  .work h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  
  .work p {
  
    text-align: justify;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: content-box;
  }
  
  
  .work-col {
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .work-col .layer {
    font-size: 18px;
    margin: 5px;
  }
  
}

.testimonials {
  background-color:white;
  padding: 50px;
  text-align: center;
}

.testimonials h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  
}


.testimonials-col p {
  font-size: smaller;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.testimonials-col {
  background: #fff3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  padding: 20px;
}

.testimonials-col img {
  width: 150px;
  height: 150px;
  max-width: 100%;

  border-radius: 50%;
  margin-bottom: 20px;
  
}

.testimonials-col p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  font-size: 15px;
  margin-bottom: 20px;
}

.testimonials-col h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.testimonials-col .fa{
  color: #f44336;
}

  
@media only screen and (max-width: 767px) {
  .testimonials-col {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .testimonials-col img {
    display: inline-block;
    margin: 0 auto 20px;
    
  }

  .testimonials-col div {
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  .testimonials-col h3 {
    margin-top: 10px;
  }
  .testimonials-col p{
    font-size: smaller;
    text-align: justify;
  }
  
}


.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/work.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0 ;
}
@media(max-width:700px){
  .cta h1{
    font-size: 24px;
  }
}
.footer {
  background-color: #f2f2f2;
  color: #333;
  padding: 50px 0;
}

.footer h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  max-width: 80%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: justify;

}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #333;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #007bff;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-links a {
  display: inline-block;
  margin: 0 20px;
  color: #333;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #007bff;
}

.footer p:last-child {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  max-width: 80%;
}
/* For screens smaller than 768px */
@media (max-width: 767px) {
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  .icons {
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-links a {
    margin: 5px;
  }
}
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/wallabout.jpg);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color: #fff ;
}
.sub-header h1{
  margin-top: 100px;

}
.about-us{
  background: #fff;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
.aboutus-col{ 
  flex-basis: 90%;
  padding: 10px ;
}
.aboutus-col img{
    padding-top: 20px;
    height: 300px;
    width: 300px;
}
.aboutus-col h1{
  padding-top: 0;
  font-weight: 600;
}
.aboutus-col p{
  width: 100%;
  text-align: justify;
  font-size: 15px;
  padding-top: 10px;
}
.aboutus-col h3{
  font-size: 17px;
  font-weight: 200;
}
.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red-btn:hover{
  color: #fff;
}

.sub-header1{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/interior3.png);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color: #fff ;
}
.sub-header1 h1{
  padding-top: 100px;
}



.interior {
  padding: 30px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}
.interior{
  
  padding-bottom: 30px;
}
.interior-col {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.interior-col img {
  max-width: 45%;
  margin-right: 10px;
  padding-left: 20px;
}

.paragraph {
  text-align: justify;
}

.paragraph ul{
  top: 100%;
  left: 0;
  margin-top: 10px;
  list-style: disc;
  padding-left: 600px
}

@media screen and (max-width: 767px) {
  .interior {
    padding: 20px;
  }
  .interior-col {
    display: block;
    margin-bottom: 30px;
  }
  .interior-col img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .paragraph ul {
    display: block;
    margin-left: 20px;
    padding-left: 20px;
  }
}

.sub-header2{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/project.jpg);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color: #fff ;
}
.sub-header2 h1{
  padding-top: 100px;
}


.work1 {
  background-color: #f2f2f2;
  padding: 50px;
}

.work1 h1 {
  text-align: center;
  font-size: 24px;

  margin-bottom: 30px;
}

.work1 p {
  text-align: justify;
  font-size: 14px;

  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.work1-col {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.work1-col img {
  width: 100%;
}


.layer1 h3{
  
  width: 100%;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  background: #ccc;  
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.project-description {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-description p {
  font-size: smaller;
  line-height: 1.5;
  text-align: justify;
}

.work1-col:nth-of-type(odd) .layer1 {
  background-color: rgba(0, 0, 0, 0.8);
}

.work1-col:nth-of-type(even) .layer1 {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}


@media only screen and (min-width: 768px) {
  .sub-header2{
    font-size: 24px;
  }
  .row1::after {
    content: "";
    display: table;
    clear: both;
  }
  

  .work1 h1{
    font-size: 24px;
  }
  .work1 p{
    text-align: justify;
    font-size: 17px;
    
    
    

  }
  .work1-col img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
    
  }
  
  .work1 .project-description p{
   
    text-align: justify;
    font-size: 18px;
    
  }

  
  .work1-col {
    float: left;
  }


  .work1-col:nth-of-type(odd) {
    margin-right: 20px;
  }

  .work1-col:nth-of-type(even) {
    margin-left: 20px;
  }

  .work1-col:nth-of-type(odd) .project-description {
    margin-left: -20px;
  }

  .work1-col:nth-of-type(even) .project-description {
    margin-right: -20px;
  }

  
  .work1-col:nth-of-type(odd) .layer1 {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .work1-col:nth-of-type(even) .layer1 {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
  }
}
.comment-box{
  border: 1px solid #ccc;
  margin: 50px;
  padding: 10px 20px;
}
.comment-box h3{
  text-align: left;
} 
.comment-form input, .comment-form  textarea{
  width: 100%;
  padding: 10px;
  margin:15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
  
}
.comment-form button{
  margin: 10px 0;
}
.sub-header3{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contact.jpg);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color: #fff ;
}
.sub-header3 h1{
  padding-top: 100px;
}
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe{
  width: 100%;
}

.contact-us{
  width: 80%;
  margin: auto;
}

.contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa{
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p{
  padding: 0;
  margin: 0;
}

.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-col button[type="submit"] {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-col button[type="submit"]:hover {
  background-color: #d63e2a;
}

.contact-col input:focus, .contact-col textarea:focus{
  border-color: #f44336;
}

@media screen and (max-width: 767px){
  .contact-col{
    flex-basis: 100%;
  }
}
.sub-header4{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/project.jpg);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color: #fff ;
}
.sub-header4 h1{
  padding-top: 100px;
}
.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.project-item:hover {
  transform: translateY(-10px);
}

.project-item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

}
.project-item:hover img {
  transform: scale(1.1);
}

.project-description {
  text-align: center;
}

.project-description img {
  max-width: 80%;
  height: auto;
}

.project-image:hover {
  content: url(images/royal3.jpg);

}

.project-description img {
  transition: transform 0.3s ease-in-out;
}

.project-description img:hover {
  transform: scale(1.1);
}


.project-description p{
  font-size: 17px;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .sub-header4{
    height: 50vh;    
  }
  .sub-header4 h1{
    
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
  }
  .project-gallery {
  display: block;
  }
  
  .project-item {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  }
  
  .project-item img {
  width: 80%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  }
  }

